*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: 'Nunito Sans', sans-serif;
	font-size:13px;
	list-style:none;
}
body{
	background-image: linear-gradient(330deg, #f38e82,#e5b741);
	background-attachment:fixed;
}
.clearfix::after{
 	content:'';
	display:block;
	clear:both;
}
.empty{
	width:100%;
	float:left;
}
.content{
	width: 1000px;
	background-color: white;
	margin: 5% auto 0% auto;
	position: relative;
	border-radius: 20px;
	
}
header{
	width: 100%;
	position: relative;
	background-color: white;
	border-radius: 20px;
}
figure{
	float:left;
	width:25%;
}
figure>img{
	    width: 75%;
    position: relative;
    left: 5px;
    top: 5px;
    padding: 15px 25px;
	}
.head-search{
	width: 35%;
	float: left;
	align-items: center;
	position: relative;
	top: 20px;
}
.head-search>input{
position: relative;
    width: 100%;
    top: 0;
    height: 40px;
    border-radius: 20px;
    border: 0;
}
.head-search>button{
        background-image: linear-gradient(330deg, #f38e82,#e5b741);
    float: right;
    color: white;
    position: relative;
    padding: 3%;
    height: 40px;
    border-radius: 36px;
    border: 0;
    bottom: 40px;
    width: 40%;
}
.head-search>button>span{
	position: relative;
	bottom: 5px;
	font-weight: 600;
	
}
svg{
	width:20px;
	fill:tomato;
}
.nav{
	 width: 25%;
    position: relative;
    float: left;
    left: 10%;
    top: 15px;
}
.nav>ul>li{
	float:left;
	text-transform:uppercase;
	padding:3%;
	list-style:none;
}
li>svg{
	top:5px;
	position:relative;
}
.main-sider{
	    margin-top: 25px;
    width: 35%;
    position: relative;
    float: left;
    padding: 0px 20px; 
	
}
.forkify-resultsbar{
    width: 100%;
    margin: 5px 0px;
    height: 60px;
    float: left;
    position: relative;
    background:white;

}
.result-img{
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
	border-radius: 100%;
	margin: 5px;
}
.result-img>img{
	height:100%;
}
.main-content{
	width: 65%;
	background-color:#e1d5d526;
	float: right;
	position: relative;

}
.main-img{
	width:100%;
	height:300px;
	background-image:url('forkify-samosa.jpeg');
	background-size:cover;
	position: relative;
}
.forkify-resultsbar>h1{
	color: tomato;
	position: relative;
	top:10px;
	float: left;
	text-transform: uppercase;
}.forkify-resultsbar>p{
	  margin: 3%;
	  text-transform: uppercase;
	  font-size: 12px; 
}
.main-img>h1,h2{
	background-image: linear-gradient(97deg, #fbdb89,#f38e82,#f48982);
	padding: 5px;
	width: fit-content;
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	position: relative;
	transform: rotate3d(0, -6, -4, 15deg);
	left: 25%;
	top: 220px;
	margin: 1%;
	color: ghostwhite;
    }
h2{
	margin: -2% 10% 0% 10%;
}
.recipy-summery{
	width: 100%;
	position: relative;
	top: 50px;
	left:40px;
    }
.recipie-timer{
	width:120px;
	line-height:5px;
	float:left;
	position: relative;
	left: 20px;
}
.recipy-summery>svg{
	width: 5%;
	position: relative;
	left: 50px;
	margin-left: 6%;
	bottom: 2px;
}

.minus
{
	width: 16px;
	float: left;
	position: relative;
	left: 30px;
	bottom: 23px;
}
.ingredients{    
    width: 100%;
    position: relative;
    left: 0px;
    padding: 0px 0px 15px 0px;
    top: 80px;
    background-color: #fff0e6;

}
.ingredients>h1{
	font-size: 25px;
	color: tomato;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin: 2% 0%;
	padding: 30px 0px;
    
}
.list-ingredients>li{
	list-style-image: url('icons8-done.svg');
	width: 45%;
	
	float: right;
	padding: 5px;
}
.footer-right{
    position: relative;
    float: right;
    padding: 1%;
    width: 65%;
    background-color: #e1d5d526;
}
.footer-right >h1{
	color:tomato;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	margin:10px 0px;
}
.footer-right >p{
	text-transform:capitalize;
	text-align:center;
}
.footer-right>button{

	background-image: linear-gradient(223deg, #f38e82,#e5b741,#f48982, #dcd30e8a);
	color: white;
	margin:0px 45%;
	width:20%;
	border-radius: 20px;border:0;
	padding:5px;
	text-transform: uppercase;
}
.footer-right>button>span{
	position:relative;
	bottom:4px;
}
.footer-right>button>svg{
	fill: #ff270099;
}
.footer-left{
	position: absolute;
	float: left;
	width: 35%;
	padding: 1%;	
}
.footer-left>p{
	text-align: left;
	position: absolute;
	top: 50px;
	font-size:10px;
}
.btn-left{
	ffloat: left;
    color: tomato;
    border: 0;
    border-radius: 20px;
    width: fit-content;
    padding: 0px 10px;
}
.btn-right{
	    float: right;
    color: tomato;
    border: 0;
    width: fit-content;
    border-radius: 20px;
    padding: 0px 10px;
}
.list-ingredients{
	overflow:hidden;
}
.footer{
	    width: 100%;
    position: relative;
    top: 82px;
    background-color: #ffffff;
    height: 150px;
    float: left;
    border-radius: 20px;
}

.btn-left>span,.btn-right>span{
	position: relative;
	bottom: 4px;
}
#time{
	position: relative;
	bottom: 19px;
}
.recipe-servre{
	width: 35%;
	position: relative;
	top: 15px;left: 20px;
}
.recipe-servre>span{
	position:relative;
	bottom:5px;
}
.quantity{
	float: left;
	position: relative;
	left: 25%;
	bottom: 10px;
}
.recipe-quantity{
	width:20px;
}
.recipe-favorate{
	width: 35px;
	height: 35px;
	background-image: linear-gradient(330deg, #f38e82,#e5b741);
	float: right;
	position: relative;
	right: 15%;
	border-radius: 100%;
	bottom: 13px;
}
.recipe-favorate>svg{
	width: 20px;
	position: relative;
	top: 8px;
	left: 7.5px;
	fill: ghostwhite;
}
.btn-left>svg,.btn-right>svg{
	fill: #ff270099;
    position: relative;
    top: 2px;
}
.forkify-resultsbar:hover{
	 background-color: #dcdcdca6;
}
